*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    text-transform: capitalize;
    background: linear-gradient(90deg,rgba(26, 25, 25, 1) 0%, rgba(43, 43, 43, 1) 56%, rgba(54, 61, 57, 1) 100%);
}
.container{
 width: 100%;
 height: 100vh;

 display: flex;
 justify-content: space-around;
 align-items: center;
    
}
.left-content{
    flex-basis: 30%;
}
.left-content .heading{
    color: white;
    margin: 0.6em;
    text-align: center;
}
.left-content .subheading{
    color: rgb(223, 229, 235);
    text-align: justify;
}
.gallary{
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:130px;
 
    
}
 .gallary .box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 2px 3px black;
    background-size:cover ;
 
    background-position:top;
    background-color: #222;
    background-blend-mode: hard-light;
}

.box:hover{
    background-color: #999;
    background-position: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 4px #fff;
}
.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}
@media screen and (max-width:767px) {
    .container{
        flex-direction: column;
    }
    .gallary{
        width: 100%;
        padding-inline: 12px;
        grid-auto-rows: 220px;
    }
    .left-content{
        margin: 20px;
    }
    .box{
        grid-row: span 1;
        grid-column: span 3;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .container{
        flex-direction: column;
        
    }
    .gallary{
        width: 90%;
        padding-inline: 20px;
        grid-auto-rows: 250px;
        gap: 20px;
    }
    .left-content{
        margin: 70px 50px;
    }
    .box{
        grid-row: span 1;
        grid-column: span 3;
    }
}